@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  /* Primary colors. */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* Neutral colors. */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
  display: grid;
  align-items: center;
}

.pattern-background {
  display: grid;
  align-items: center;
}

.pattern-background > img {
  width: 100%;
  position: fixed;
  z-index: -1;
}

.order-summary-card {
  max-width: 327px;
  background-color: white;
  margin: auto;
  border-radius: 1rem;
}

.success-hero-image {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.order-summary-text {
  max-height: 406px;
  padding: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
